@import "../variables/colors";
@import "../variables/fonts";
@import "../mixins/mixin";


* {
	overflow-x: hidden;
}

.footer__wrap {
	background-color: #000000;
}

.footer__content {
	@include flex-column;
	align-items: center;
	justify-content: center;
	max-width: 700px;
	margin: 0 auto;

	.footer__content--link-contacts {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		text-transform: uppercase;
		color: #FEFEFE;
		text-decoration: none;
		padding-top: 66px;
	}

	@media screen and (max-width: 480px) {
		.footer__content--link-contacts {
			font-size: 14px;
			}
	}


	.footer__content--text {
		@include font;
		font-size: 16px;
		line-height: 28px;
		color: #B9B9B9;
		text-align: center;
		padding: 22px 8px;
	}
	@media screen and (max-width: 540px) {
		.footer__content--text {
			font-size: 12px;
			line-height: 20px;
		}
	}


	.footer__content-svg {
		@include flex-row-center;
		justify-content: center;
	}

	.svg-facebook, .svg-rss {
		padding: 0 6px;
	}
}

	.footer__content--contacts {
		@include flex-row-center;
		justify-content: center;
		margin-top: 34px;
		margin-bottom: 70px;

		 & a {
			color: #B9B9B9;
			padding-right: 10px;
		}
	}

		@media screen and (max-width: 480px) {
			.footer__content--contacts {
				@include flex-column;
				justify-content: center;

				& a {
					font-size: 14px;
					line-height: 24px;
				}
			}

		}
