@import "../variables/colors";
@import "../variables/fonts";
@import "../mixins/mixin";

* {
	overflow-x: hidden;
}



.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 24px;
	box-sizing: border-box;
}

#header__burger {
	display: none;
}

.menu__list {
	@include flex-row-center;
	justify-content: center;
	text-decoration: none;

	@media screen and (max-width: 768px) {
		.menu__list {
			display: none;
		}
	}

	.menu__item {
		text-transform: uppercase;
		white-space: nowrap;
		padding-right: 68px;
		margin: 46px 0;

		& a {
			@include font;
			font-size: 11px;
			line-height: 22px;
			letter-spacing: 1.1px;
			color: #4E4E4E;

		}
		.active {

			color: #57A4A4;
		}

		@media screen and (max-width: 1000px) {
			.menu__item {
				padding-right: 34px;
				margin: 42px 0;
			}
		}

	.menu__item:last-child {
		padding-right: 0;
		}
	}
}
 .active {
	color: #57A4A4;
}


.header__banner {
	width: 100%;
	margin-bottom:  66px;
}

@media screen and (max-width: 768px) {
	.header__banner {
		width: 100%;
		margin-bottom: 38px;
	}
}



@media screen and (max-width: 767px) {
	.g-header {
		position: relative;
		#header__burger {
			display: flex;
			align-items: end;
			width: 44px;
			height: 37px;
			background: black;
			float: right;
			cursor: pointer;
			margin: 24px 0 24px 24px;
			.menu-button-close {
				display: none;
			}
			.menu-button-open{
				display: block;
			}
		}

		#header__burger.active {
			.menu-button-close {
				display: block;
			}
			.menu-button-open{
				display: none;
			}
		}
		.menu__list {
			display: none;

		}
		.menu__list.active {
			flex-direction: column;
			background: #F5F5F5;
			height: auto;
			min-width: 180px;
			align-items: flex-start;
			right: 0;
			margin-right: 24px;
			top: 60px;
			padding: 8px 0 0 10px;
			position: absolute;
			display: flex;
			box-sizing: border-box;



			.menu__item {
				margin: 0;
				padding: 8px 80px 8px 12px;
				&:hover {
					background: #E5E5E5;
				}



			}
		}
	}
}
