@import "../variables/colors";
@import "../variables/fonts";
@import "../mixins/mixin";

* {
	overflow-x: hidden;
}

.recent-post__title {
	display: inline-block;
	align-items: center;
	justify-content: left;
	font-family: $fontFamily;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #4E4E4E;
	margin-bottom: 42px;
}

.recent-post__wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 32px;
	column-gap: 26px;
	align-items: center;
	margin-bottom: 70px;
}

	@media screen and (max-width: 768px) {
		.recent-post__wrap {
			@include flex-column;
			align-items: start;
		}
	}

.post__wrap {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

	@media screen and (max-width: 768px) {
		.post__wrap {
			display: flex;
			flex-direction: row;
		}
	}
	@media screen and (max-width: 480px) {
		.post__wrap {
			display: flex;
			flex-direction: column;
			justify-content: start;
		}
		.post__wrap:last-child {
			display: none;
		}
	}

	.post__icon {
		max-width: 100%;
		margin-right: 20px;
	}
		@media screen and (max-width: 480px) {
			.post__icon {
				max-width: 60%;
				justify-content: start;
			}
		}

.post__content {
	@include flex-column;
	justify-content: flex-start;

	.post__content--title {
		font-family: $fontFamily;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 30px;
		color: #4E4E4E;
	}

	.post__content--comments {
		@include font;
		font-size: 12px;
		line-height: 20px;
		color: #7C7C7C;

	}

	.post__content--text {
		@include font;
		font-size: 14px;
		line-height: 26px;
		color: #5C5C5C;
	}
}
		@media screen and (max-width: 480px) {
			.post__content--text {
				display: none;
			}
}

.instagram__wrap {
	background-color: rgba(0, 0, 0, .03);
	mix-blend-mode: normal;
	@include flex-column;
	margin-bottom: 40px;

	.instagram__link {
		@include flex-row-center;
		justify-content: space-between;

	& a {
		text-decoration: none;
		font-family: $fontFamily;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		text-transform: uppercase;
		color: #4E4E4E;
		margin-top: 46px;
		margin-bottom: 24px;

		}
	}
}
		@media screen and (max-width: 560px) {
			.instagram__link--go-to-page {
				display: none;
			}
		}

	.instagram__icon-wrap {
		display: flex;
		flex-direction: row;
		margin-right: -10px;

		.instagram--icon {
			padding-right: 10px;
			box-sizing: border-box;
			flex: 1 1 249px;

			@media screen and (max-width: 768px) {
				.instagram--icon {
					flex: 1 1 249px;
				}
				&:last-child {
					display: none;
				}
			}
		}
	}


@media screen and (max-width: 480px) {
	.instagram--icon {
		flex: 1 1 300px;

		&:not(:first-child) {
			display: none;
		}


		& img {
			width: 100%;
			padding: 0 46px 0 24px;
		}
	}
			.instagram__link--go-to-page {
				display: none;
			}
	}










