@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(20, 20, 20);
    overflow: hidden;
    margin: 10% 0 0 0;
    position: relative;
}

.wrapper {
    display: flex;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    perspective: 450px;
}

.scroll-text {
    color: #ffdd00;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 30s linear infinite;
}

h1, h2 {
    text-align: center;
}

@keyframes scroll {
    from {top: 500px; transform: translateZ(0) rotateX(20deg)}
    to {top: -7500px; transform: translateZ(-2500px) rotateX(21deg)}

}