[class*="svg-"] { font-size: 20px; position: relative;

	&:before { content: ''; display: block; }

	svg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

}

.svg-dribbble { width: calc(34/20 * 1em);

	&:before { padding-bottom: calc(34 / 34 * 100%); }

}

.svg-facebook { width: calc(34/20 * 1em);

	&:before { padding-bottom: calc(34 / 34 * 100%); }

}

.svg-pinterest { width: calc(34/20 * 1em);

	&:before { padding-bottom: calc(34 / 34 * 100%); }

}

.svg-rss { width: calc(34/20 * 1em);

	&:before { padding-bottom: calc(34 / 34 * 100%); }

}

.svg-twitter { width: calc(34/20 * 1em);

	&:before { padding-bottom: calc(34 / 34 * 100%); }

}

