@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.container {
    background-image: url("img/background.png");
    font-family: 'Roboto', sans-serif;
    background-size: 100%;
    padding-top: 46px;
    height: 768px;

}

a {
    color: white;
    text-decoration: none;
}

.header-container {
    margin-left: 160px;
    margin-right: 176px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 53px;
    height: 47px;
    background-image: url("img/logo.png");
    transition: 0.3s;
}

.header-title:hover .logo {
    transition: 0.3s;
    background-image: url("img/logo 2.png");
}

.header-title:hover {
    transition: 0.01s; /*ЧТО БЫ УРАТЬ РАССИНХРОН ПО АНИМАЦИИ. ДА КОСТЫЛЬ - НО ОНО РАБОТАЕТ.*/
    color: #F26522;
}

.header-title {
    color: white;
    display: flex;
    align-items: center;
}

.milan-holidays {
    display: flex;
    font-weight: 700;
    flex-direction: column;
    transition: 0.3s;
}

.milan {
    font-size: 30px;

}

.holidays {
    font-size: 18px;
}

.contacts-header-container {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    justify-content: flex-end;
    color: #FFF;
    text-decoration: none;
}

.contact-item:hover {
    transition: 0.3s;
    color: #F26522;
}

.photos-container {
    margin-top: 22px;
    margin-left: 160px;
    margin-right: 176px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.photo-description {
    margin-top: 20px;
}

.items-container:hover > .orange-bg-info {
    opacity: 1;
    transition: 0.3s;
}

.items-container:hover a {
    color: #F26522;
    transition: 0.3s;
}

.orange-bg-info {
    display: flex;
    justify-content: space-between;
    margin-top: 163px;
    margin-left: 1px;
    position: absolute;
    background-color: #F26522;
    width: 297px;
    height: 55px;
    opacity: 0;
}



.info-price-text {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.from, .price {
    margin-top: 6px;

}

.from {
    font-size: 10px;
}

.price {
    font-size: 20px;
}

.details-text {
    margin-top: 29px;
    margin-right: 14px;
    font-size: 14px;
}

.details-text::after {
    content: ">";
    margin-left: 16px;

}


.first-line, .second-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.second-line {
    margin-bottom: 36px;
}

.photo-container {
    width: 300px;
    height: 220px;
}

footer {
    text-align: center;
    color: white;
    font-size: 12px;
}

