@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    background-image: url("/img/Фон 1.png");
    background-size: 100%;
    font-family: 'Ubuntu', sans-serif;

}

header {
    background-color: rgba(0, 0, 0, 0.4);
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
}

.right-section-header {
    display: flex;
    color: white;
}


.jorney-logo {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    color: white;
    margin-left: 79px;
    transition: 0.5s;
}

.jorney-logo a:hover {
    color: #005d00;
    transition: 0.5s;
}

.icon-svg {
    margin-right: 24px;
}

.icon {
    transition: 0.5s;
}

.icon-svg:hover .icon {
    fill: #005d00;
    transition: 0.5s;
}

.sign-in-up-container {
    margin-left: 26px;
    margin-right: 74px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

}

.login\/signup {
    transition: 0.5s;
    margin-left: 6px;
    margin-right: 6px;
}

.login\/signup:hover {
    color: #005d00;
    transition: 0.5s;
}

main {
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    width: 444px;
    height: 584px;
    background-color: white;
}

.shape {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: relative;
    top: 29px;
}

.content-container {
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

.form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sighup {

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

}

.login {
    color: #3CB878;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.login:hover {
    color: #01813F;
    transition: 0.5s;
    text-decoration: underline;
}

.socnet-buttonts-container {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.socnet-button {
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    text-decoration: none;
}

.facebook {
    background-color: #305DB8;
    transition: 0.5s;
}

.facebook:hover {
    background-color: #022263;
    transition: 0.5s;
}

.g-plus {
    background-color: #DF4A32;
    transition: 0.5s;
}

.g-plus:hover {
    transition: 0.5s;
    background-color: #AB1F09;
}

.button-logo {
    margin-left: 12px;
}

.net-icon::after {
    content: "";
    position: relative;
    height: 28px;
    width: 1px;
    left: 19px;
    top: 0;
    opacity: 0.1;
    bottom: 10px;
    background-color: #0A162F;
}

.divider {
    margin-top: 20px;
    display: flex;
    color: #848484;
}

hr {
    width: 152px;
    height: 1px;
    border: none;
    background: #F2F2F2;
}

.main-forms {
    width: 300px;
    height: 40px;
    margin-top: 4px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
    margin-bottom: 12px;
}

.main-forms:focus {
    box-shadow: 0 3px 8px 0 #00000036;
    outline: none;
}

input[placeholder] {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;

    position: relative;
    padding-left: 28px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after
 {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 0;
    width: 14px;
    height: 6px;
    border-radius: 0;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    transform: rotate(309deg);
}

input[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.terms {
    color: #3CB878;
}

.terms:hover {
    transition: 0.5s;
    color: #01813F;
    text-decoration: underline;
}

.create-butt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 324px;
    height: 46px;
    margin-top: 20px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    color: white;
    transition: 0.5s;
}

.create-butt:hover {
    cursor: pointer;
    background: #01813F;
    transition: 0.5s;
}