@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    padding-top: 20px;
    margin-bottom: 20px;
}

.header-butt {
    margin: 30px;
    text-decoration: none;
    color: dimgrey;
}

.main-text-cont {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.img-main {
    width: 100%;
}

.main-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.main-text, .main-text-2 {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

.butt-cont {
    text-align: center;
}

.get-started-butt {
    margin-top: 70px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    width: 200px;
    height: 50px;
    background-color: dimgrey;
    transition: 0.5s ease-in-out
}

.get-started-butt:hover {
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color: grey;
}

footer {
    margin-top: 100px;
    text-align: right;
    font-weight: bold;
}