@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 1280px;
    margin: auto;

}

.logo-text {
    width: 335px;
    font-weight: 400;
    font-size: 80px;
    margin-top: 65px;
}

.blue-text {
    color: deepskyblue;
}

.nav-menu {
    margin-top: 40px;
}

main {
    display: flex;
    margin-top: 50px;
}


.menu-items-block {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: #35444F;
}

.menu-items {
    border: 1px solid white;
    height: 70px;
    font-size: 25px;
    padding: 10px 30px;
    color: white;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.menu-items:hover {
    background-color: #222F3A;
    transition: 0.3s;
}

.empty-item {
    width: 157px;
}

.left-menu-cont {
    border: 1px solid grey;
    width: 340px;
    height: 440px;
}

.left-menu-items-block, .footer-butt-block {
    list-style-type: none;

}

.left-menu-items, .footer-butt-items {
    font-size: 25px;
    color: #485863;

}

.item-cont {
    padding-top: 30px;
    padding-left: 45px;
    padding-bottom: 30px;
}

.item-cont:hover {
    padding-left: 55px;
    background: #DBDBDB;
    transition: 0.3s;
}

.img-text-cont {
    margin-left: auto;
}

.img-cont {
    border: 1px solid grey;
    width: 885px;
    margin-left: auto;
}

.img-ramda {
    margin: 75px 300px;

}

.ramda-text {
    width: 885px;
    margin-top: 35px;
}



footer {
    background: #63696E7A;
    width: 1280px;
    height: 70px;
    margin-top: 55px;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    justify-content: space-around;

}

.footer-butt-block {
    display: flex;
    /*justify-content: space-around;*/
    flex-grow: 1;
}

.butt-cont {
    margin-left: 20px;
}

.footer-butt-items {
    display: flex;
    border: none;
    color: black;
    height: 70px;
    font-size: 25px;
    align-items: center;
    transition: 0.3s;
}

.footer-butt-items:hover {
    color: steelblue;
    text-decoration: underline;
    transition: 0.3s;
}

copyright {
    display: flex;
    align-items: center;
    justify-content: right;
    border: none;
    color: black;
    height: 70px;
    font-size: 25px;
    /*flex-grow: 1;*/
}
