@import '../../style.scss';

.closeBtn {
    color: white;
    outline: none;
    border: 0;
    background: transparent;
    font-size: 25px;
    font-stretch: extra-expanded;
}

.modalHeader {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,.2);
    font-size: 25px;
    padding: 20px 15px;
    font-family: 'Poppins', sans-serif;
    
}

.modalContent {
    padding: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.actionButtons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.actionButtons>*{
    padding: 10px;
    background-color: rgba(0,0,0,.2);
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    width: 130px;
}

.blackout{
content: '';
position: fixed;
z-index: 1;
width: 100%;
height: 100%;
background: #000;
opacity: 0.5;
left: 0;
top: 0;
}

.modal {
width: 40%;
margin: 0 auto;
border-radius: 5px;
padding-bottom: 20px;
position: fixed;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
z-index: 100;
}
