@import url(../css/reset.css);

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    font-style: normal;
}

.header-wrap {
    background: url("../images/Sections background/section-1(header).jpg");
    background-size: cover;
}

.header-wrapper {
    background: rgba(94, 93, 88, 0.6);
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    flex-direction: row;
    column-gap: 22px;
    justify-content: center;
    align-items: center;
}

.list-item a{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding: 48px 0;
}
.list-item a:last-child {
    margin-right: 22px;
}

.list-item a:hover {
    color: #18CFAB;
    border-bottom: #18CFAB 2px solid;
}

.search-icon{
    padding: 3px;
}

.search-icon:hover {
    border: 2px solid #18CFAB;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title-wrap {
    margin-top: 264px;
    margin-bottom: 129px;
    text-align: center;
}

.text-header {
    padding-bottom: 22px;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text-header-colored {
    color: #18CFAB;
}

.title-header {
    padding-bottom: 22px;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text {
    font-weight: normal;
    font-size: 34px;
     color: #D4D4D4;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 244px;

}

.button1 {
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    padding: 16px 18px 16px 17px ;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 26px;
    box-shadow: 0 -4px #fff;

}

.button2 {
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #00CBF6;
    padding: 16px 12px 16px 10px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow:  0 -4px #fff;

}

.our-preferences {
    display: flex;
    height: 378px;
    width: 100%;
}


.preferences-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1C2A33;
    width: 25%;
}

.preferences-text {
    margin-top: 48px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18CFAB;
}

.service-title {
    position: relative;
    display: block;
    align-items: center;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    padding-top: 83px;
    padding-bottom: 32px;
}
.service-title::before,
.service-title::after {
    position: absolute;
    content: "";
    border-bottom: 4px solid #18CFAB;
    left:50%;
    width: 79px;
}

.service-title::before {
    bottom:8px;
    margin-left: -39px;
}
.service-title::after {
    bottom:0;
    margin-left: -30px;
}

.service-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 69px;
    margin-bottom: 27px;
}

.btn-service {
    display: block;
    box-sizing: border-box;
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    padding: 17px 45px 19px 45px;
    margin: 0;
}

.btn-service:hover {
    border: 1px solid  #18CFAB;
}
.active {
    background: #18CFAB;
}

.btn-service:active {
    background: #18CFAB;
}

.btn-service:active::after {
    position: absolute;
    content: '';
    display: block;
    box-sizing: border-box;
    border: 1px solid #18CFAB;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
    bottom: -9px;
    left: 50%;
    background-color: #18CFAB;
}


.item-imag {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 91px;
}
.item-imag.active {
    display: flex;
}

.service-icon img{
    width: 192px;
    height: 139px;
    margin-right: 15px;
}

.menu-item-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: left ;
    color: #777777;
   }

.purchase {
    background: url("../images/Sections background/purchase.png");
    background-size: cover;
}

.purchase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase-title {
    padding: 127px 0 12px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.purchase-text {
    padding-bottom: 67px;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.purchase-button {
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    padding: 16px 11px ;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 126px;
    box-shadow: 0 -4px #fff;
}

.amazing-work {
    background: #E9EDEF;
}

.amazing-work-title {
    display: block;
    position: relative;
    align-items: center;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    padding-top: 95px;
    padding-bottom: 30px;
}
.amazing-work-title::before,
.amazing-work-title::after {
    position: absolute;
    content: "";
    border-bottom: 4px solid #18CFAB;
    left: 50%;
    width: 79px;
}

.amazing-work-title::before {
    bottom:8px;
    margin-left: -39px;
}
.amazing-work-title::after {
    bottom:0;
    margin-left: -30px;
}

.gallery-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    margin-bottom: 71px;
}

.btn-work {
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
    text-align: center;
    color: #717171;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    padding: 14px 25px;
    cursor: pointer;
}

.btn-work1 {
    padding: 14px 28px;
}

.btn-work:hover {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.image-item {
    position: relative;
}

.card-image1  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    line-height: 25px;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #18CFAB;
    background: #E9EDEF;
    display: none;

}

.image-item:hover .card-image1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.card-image1 a {
    text-decoration: none;
}

.card-image:hover .card-image1 {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #18CFAB;

}


.title-card-image1 {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
}


.text-card-image1 {
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
    text-align: center;
}

.amazing-work-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 99px;

}
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #18CFAB;
    border-radius: 4px;
    border: none;
    cursor: pointer;

}
.button .icon {
    padding: 22px 15px 22px 23px;
}


.button .desc {
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-right: 15px;

}
.button.loader {
    background-image: url("data:image/svg+xml, %3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Cpath opacity='0.2' fill='%23000' d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z'/%3E%3Cpath fill='%23F48E0B' d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 20 20' to='360 20 20' dur='0.5s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    color: transparent!important;
}


.title-braking-news {
    position: relative;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    padding-top: 82px;
    padding-bottom: 32px;
}
.title-braking-news::before,
.title-braking-news::after {
    position: absolute;
    content: "";
    border-bottom: 4px solid #18CFAB;
    left:50%;
    width: 79px;
}

.title-braking-news::before {
    bottom:8px;
    margin-left: -39px;
}
.title-braking-news::after {
    bottom:0;
    margin-left: -30px;
}

.bloc-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 68px;
    margin-bottom: 130px;
}

.news {
    position: relative;
}

.date {
    position: absolute;
    top:0;
    right: 0;
    padding: 9px 23px;
    background: #203E38;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.news-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 39px;
}

.title-icon-news {
    font-weight: bold;
    font-size: 18px;
    color: #717171;
}

.comment-news {
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

.news:hover .title-icon-news {
    color: #18CFAB;
}
.news:hover .date {
    background-color: #18CFAB;
}

.people {
    background: url("../images/Sections background/people.png");
    background-size: cover;
}



.people-title {
    position: relative;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    padding:98px 0 32px;
}
.people-title::before,
.people-title::after {
    position: absolute;
    content: "";
    border-bottom: 4px solid #18CFAB;
    left:50%;
    width: 79px;
}

.people-title::before {
    bottom:8px;
    margin-left: -39px;
}
.people-title::after {
    bottom:0;
    margin-left: -30px;
}

.people-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 58px;

}

.quotation-marks {
    background-image: url("../images/quotation.png");
    width: 47px;
    height: 33px;
    background-size: cover;
    margin-bottom: 36px;
}

.people-text {
    position: relative;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
    padding-bottom:  37px;
}



.people-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.people-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.people-position {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
    padding-bottom: 38px;
}

.avatar {
    width: 143px;
    height: 142px;
    border-radius: 50%;
    border:12px solid rgba(31, 218, 181, 0.2);
    mix-blend-mode: normal;
    margin-bottom: 44px;
}

.slider .swiper-slide {
    background-size: cover;
    background-position: center;
}

.thumbs-slider {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0 50px;
    display: flex;
    justify-content: center;
}

.thumbs-slider .swiper-wrapper {
    display: flex;
    justify-content: center;

}

.thumbs-slider .swiper-slide {
    width: 58px !important;
    border-radius: 50%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
}

.thumbs-slider .swiper-slide-thumb-active {
    position: relative;
    top: -10px;
    opacity: 1;
}

.thumbs-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:6px solid rgba(31, 218, 181, 0.2);
    mix-blend-mode: normal;
    object-fit: cover;
}

.thumbs-slider .swiper-button-next,
.thumbs-slider .swiper-button-prev {
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
.swiper-button-next, .swiper-button-prev:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    width: 34px;
    height: 34px;
}

.thumbs-slider .swiper-button-next:after,
.thumbs-slider .swiper-button-prev:after {
    font-size: 16px;
}

.swiper-button-next {
    right: 370px;
    top: 50px;
}

.swiper-button-prev{
    left: 370px;
    top: 50px;
}

.title-gallery {
    position: relative;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    padding-top: 82px;
    padding-bottom: 32px;
}
.title-gallery::before,
.title-gallery::after {
    position: absolute;
    content: "";
    border-bottom: 4px solid #18CFAB;
    left:50%;
    width: 79px;
}

.title-gallery::before {
    bottom:8px;
    margin-left: -39px;
}
.title-gallery::after {
    bottom:0;
    margin-left: -30px;
}

.gallery-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 83px;
    margin-bottom: 52px;
}

.item-icon1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.item-icon1 .card-icon {
    padding: 1px;

}

.item-icon2 {
    display: flex;
    flex-direction: row;

}

/*.card-icon {*/
/*}*/
.item-icon2 .card-icon {
padding: 1px;

}

.card-item3 .card-icon {
    padding-right: 0;
}
.gallery-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;

}


.copyright {
    display: flex;
    justify-content: center;
    font-style: normal;
    align-items: center;
    background: #22353F;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    padding: 48px 0;
}

.ft-span {
  color: #18CFAB;
}



