@import "../variables/colors";
@import "../variables/fonts";

@mixin font {
	font-family: $fontFamily;
	font-style: normal;
	font-weight: normal;
}

@mixin flex-row-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}
